{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Welcome to Ai-Da!</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">The platform for creating AI assistants.</p>
            {% if user.is_authenticated %}
                <p>Hi {{ user.username }}!</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="{% url 'assistant_list' %}" class="btn btn-primary btn-lg px-4 gap-3">My Assistants</a>
                    <a href="{% url 'logout' %}" class="btn btn-outline-secondary btn-lg px-4">Logout</a>
                </div>
            {% else %}
                <p>You are not logged in.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="{% url 'login' %}" class="btn btn-primary btn-lg px-4 gap-3">Login</a>
                    <a href="{% url 'register' %}" class="btn btn-outline-secondary btn-lg px-4">Register</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
